@import url('https://fonts.googleapis.com/css?family=Electrolize|Open+Sans');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #393F4C;
  min-height: 100vh;
  padding: 5vh;
}

.title{
  font-family: 'Electrolize', sans-serif;
  font-size: 6em;
  color: #29F89C;
  margin-bottom: 5vh;
}

textarea{
  width: 45vw;
  border: none;
  background-color: whitesmoke;
  padding: 5px 15px 5px 15px;
  font-size: 1em;
  margin-left: 15%;
}

button{
  padding: 7px 12px 7px 12px;
  border: none;
  border-radius: 5px;
  background-color: #29F89C;
  color: #393F4C;
  font-size: 1.25em;
  margin-left: 5%;
}

.inputArea{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.title{
  font-weight: bolder;
    color: #29F89C;
}

/* stop old css here */

.hidden{
  display:none
}

.word{
  color: whitesmoke;
  font-size: 3em;
  text-align: center;
  margin-top: 30vh;
}

.small{
  font-size: 2em;
  margin-top: 2vh;
}
select{
  margin: 3vh;
}

.speedAndPause{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.speedAndPauseControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.speedAndPauseControls *{
  margin: 10px;
}

